In [1]:
import pandas as pd
import json
import requests

In [2]:
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    payload = {"Key Skills":technology}
    response = requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
        number_of_jobs = len(data)
    return technology,number_of_jobs

In [3]:
get_number_of_jobs_T("Python")

('Python', 1173)

In [4]:
def get_number_of_jobs_L(location):
    payload = {"Location":location}
    response = requests.get(api_url, params=payload)
    if response.ok:
      data=response.json()
      number_of_jobs = len(data)

    return location,number_of_jobs

In [5]:
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

#### Storing the results in Excel file

In [9]:
from openpyxl import Workbook

In [ ]:
cities = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

In [ ]:
# Create a workbook and add a worksheet.
wb = Workbook()
ws = wb.active
ws.append(cities)

In [ ]:
# Finding the number of job postings for each teachnology in each city
def get_number_of_jobs_TL(technology, cities):
    number_of_jobs_list = []
    for location in cities:
        payload = {"Key Skills":technology, "Location":location}
        response = requests.get(api_url, params=payload)
        if response.ok:
            data=response.json()
            number_of_jobs = len(data)
            number_of_jobs_list.append(number_of_jobs)
    return number_of_jobs_list

get_number_of_jobs_TL("Python", cities)

[24, 143, 17, 258, 133, 15, 170]

In [14]:
wb.save("job_postings.xlsx")

In [17]:
tech = ['C', 'C#', 'C++', 'Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']

def get_number_of_jobs_TL(tech, cities):
    final_list = []
    for technology in tech:
        number_of_jobs_list = [technology]
        for location in cities:
            payload={"Key Skills": technology, "Location": location}
            response=requests.get(api_url, params=payload)
            if response.ok:
                data=response.json()
                number_of_jobs = len(data)
                number_of_jobs_list.append(number_of_jobs)
        final_list.append(number_of_jobs_list)
    return final_list

get_number_of_jobs_TL(tech, cities)

[['C', 296, 1622, 214, 2664, 1668, 224, 1973],
 ['C#', 5, 41, 3, 68, 49, 5, 60],
 ['C++', 3, 43, 3, 55, 41, 4, 32],
 ['Java', 43, 326, 38, 516, 354, 32, 353],
 ['JavaScript', 7, 51, 7, 61, 52, 5, 41],
 ['Python', 24, 143, 17, 258, 133, 15, 170],
 ['Scala', 0, 8, 0, 3, 4, 1, 5],
 ['Oracle', 17, 95, 19, 143, 110, 11, 115],
 ['SQL Server', 3, 36, 2, 53, 31, 5, 34],
 ['MySQL Server', 0, 0, 0, 0, 0, 0, 0],
 ['PostgreSQL', 0, 1, 0, 3, 1, 0, 2],
 ['MongoDB', 2, 25, 2, 32, 21, 1, 25]]

In [18]:
data = get_number_of_jobs_TL(tech, cities)
df = pd.DataFrame(data, columns = ['Technology'] + cities)
df

,Technology,Los Angeles,New York,San Francisco,Washington DC,Seattle,Austin,Detroit
0,C,296,1622,214,2664,1668,224,1973
1,C#,5,41,3,68,49,5,60
2,C++,3,43,3,55,41,4,32
3,Java,43,326,38,516,354,32,353
4,JavaScript,7,51,7,61,52,5,41
5,Python,24,143,17,258,133,15,170
6,Scala,0,8,0,3,4,1,5
7,Oracle,17,95,19,143,110,11,115
8,SQL Server,3,36,2,53,31,5,34
9,MySQL Server,0,0,0,0,0,0,0
10,PostgreSQL,0,1,0,3,1,0,2
11,MongoDB,2,25,2,32,21,1,25

In [19]:
# save the dataframe to an excel file
df.to_excel("job_postings.xlsx", index=False)