### Hands-on Lab : Web Scraping


**Objectives**


In this lab you will perform the following:

Extract information from a given web site
Write the scraped data into a csv file.

In [31]:
# import libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [32]:
# url to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [33]:
data = requests.get(url).text

In [34]:
soup = BeautifulSoup(data, 'html.parser')

In [35]:
# find the table in the soup object
table = soup.find('table')

# Scrape the Language name and annual average salary.
data_list = []
for row in table.find_all('tr')[1:]:  # Skip the header row
    cols = row.find_all('td')
    language = cols[1].getText()
    salary = cols[3].getText()
    data_list.append([language, salary])

# create a dataframe
df = pd.DataFrame(data_list, columns=['Language', 'Average Annual Salary'])

df

     Language Average Annual Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801
5         C++              $113,865
6          C#               $88,726
7         PHP               $84,727
8         SQL               $84,793
9          Go               $94,082

In [36]:
# save the dataframe to a csv file
df.to_csv("popular-languages.csv", index=False)